body{

font-family:Arial;
background:#0f1c2e;
color:white;
margin:0;
padding:10px;

}

.logo{

width:140px;
display:block;
margin:auto;

}

input,select,button{

width:100%;
padding:14px;
margin:6px 0;
border-radius:8px;
border:none;
font-size:16px;

}

button{

background:#ff6b00;
color:white;
font-weight:bold;

}

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:20px;

}

table{

width:100%;
background:white;
color:black;
border-collapse:collapse;
margin-top:10px;

}

th,td{

padding:8px;
border:1px solid #ccc;

}

.hidden{

display:none;

}
